.div1{
    height: 200px;
    width:200px;
    background-image:url('../images/1.jpg');
    background-size: contain;
   transform :rotate(30deg);
}
.div2{
       height: 200px;
       width:200px;
}
.div3{
    height:0;
    width:0;
    border-bottom: 100px solid red;
    /* background: red; */
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}

